<nav aria-label="breadcrumb" class="breadcrumbs">
  <ol>
    {{ $ancestors := .Ancestors.Reverse }}
    {{ range $i, $p := $ancestors }}
      {{ if ne $p.RelPermalink "/" }}
      <li>
        <a href="{{ $p.RelPermalink }}">{{ if $p.LinkTitle }}{{ $p.LinkTitle }}{{ else }}{{ $p.Title }}{{ end }}</a>
        <span class="separator">›</span>
      </li>
      {{ end }}
    {{ end }}
    <li class="current">
      {{ if or (eq $.RelPermalink "/docs/") (eq $.RelPermalink "/news/") }}
        <a href="{{ $.RelPermalink }}">{{ if $.LinkTitle }}{{ $.LinkTitle }}{{ else }}{{ $.Title }}{{ end }}</a>
      {{ else }}
        {{ if eq $.Section "news" }}
          {{ $.Date.Format "Jan 2, 2006" }}
        {{ else }}
          {{ if $.LinkTitle }}{{ $.LinkTitle }}{{ else }}{{ $.Title }}{{ end }}
        {{ end }}
      {{ end }}
    </li>
  </ol>
</nav>
