<!-- https://www.iconfinder.com/iconsets/scenarium-vol-2-1 -->

<section class="features section section">
  <div class="container features">
    <div class="feature">
      <img src="/img/binary.png" alt="an icon depicting a binary source code" class="feature-img" />

      <h2 class="feature-heading">
        Free and open source
      </h2>

      <p class="feature-summary">
        Dnote is free and open source to ensure conitnued accessbility to our data and the system.
      </p>
    </div>

    <div class="feature">
      <img src="/img/cog.png" alt="an icon depicting two cogs rotating" class="feature-img" />

      <h2 class="feature-heading">
        Simple commands
      </h2>

      <p class="feature-summary">
        Instantly capture new information without distraction using the simple interface.
      </p>
    </div>


    <div class="feature">
      <img src="/img/devices.png" alt="a icon depicting devices on a network" class="feature-img" />

      <h2 class="feature-heading">
        Portable Distribution
      </h2>

      <p class="feature-summary">
        Dnote is a simple program distributed as a single binary file with no dependency.
      </p>
    </div>
  </div>
</section>

