<div id="mobile-menu" class="dropdown">
  <div class="dropdown-trigger-wrapper">
    <button id="mobile-menu-toggle" type="button" class="button-no-ui">
      <svg width="24" height="24" viewBox="0 0 50 50">
        <title>Toggle mobile menu</title>
        <desc>Toggle mobile menu</desc>
        <g stroke="none" strokeWidth="1" fillRule="evenodd" class="hamburger-menu-line">
          <rect x="6" y="9" width="37.9969741" height="6" />
          <rect x="6" y="22" width="37.9969741" height="6" />
          <rect x="6" y="35" width="37.9969741" height="6" />
        </g>
      </svg>
    </button>
  </div>

  <nav id="mobile-menu-body" role="navigation" class="dropdown-content" tabIndex="-1">
    <ul role="menubar" class="dropdown-list">
      <li role="none">
        <a role="menuitem" href="/news" class="dropdown-link">News</a>
      </li>
      <li role="none">
        <a role="menuitem" href="/docs" class="dropdown-link">Docs</a>
      </li>
      <li role="none">
        <a role="menuitem" href="https://github.com/dnote/dnote" target="_blank" rel="noopener noreferrer" class="dropdown-link">GitHub</a>
      </li>
    </ul>
  </nav>
</div>
